@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';


*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

html, body {
    --hue: var(--hue-neutral);
    background-color: #ffffff;
    height: 100%;
    margin: 0;
}

h1 {
    font-family: "Calibri", "Georgia", "Times New Roman", Times, serif;
    color: #212121;
    margin: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 28px;
}

h3 {
    font-family: "Calibri", "Georgia", "Times New Roman", Times, serif;
    color: #333333;
    margin-left: 10px;
    text-align: left;
    padding-top: 20px;
    /* padding-bottom: 20px; */
    font-size: 28px;
}

h5 {
    font-family: "Calibri", Verdana, "Geneva", sans-serif;;
    color: #212121;
    margin-left: 10px;
    text-align: center;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    font-size: 20px;
}

/* These rules take effect when the browser's width */
/* is either 225px or more. */
@media screen and (min-width: 225px) {
    /* The body background color will be #ff0000 */
    body {
        background-color: #ff0000;
    }

    /* The container width will be 225px */
    .container,
    .footer {
        width: 100%;
    }

    .form-group,
    .form-control {
        font-size: 12px;
    }
    p {
        font-size: 16px;
        line-height: 100%;
        text-align: justify;
    }
    .navLogo {
        margin-top: 10px;
    }
    #currentTime {
        margin-top: 0;
    }
    .labelText {
        font-size: 20px;
    }
}
/* These rules take effect when the browser's width */
/* is either 320px or more. */
@media screen and (min-width: 320px) {
    /* The body's bg color will be #4caf50 */
    body {
      background-color: #4caf50;
    } */
    
    h1 {
        text-align: left;
    }

    .logoImage {
        width: 250px;
        height: 60px;
    }

    /* The container width will be 576px */
    .container {
      width: 100%;
    }
    p {
        font-size: 18px;
        line-height: 150%;
        text-align: justify;
    }
    .navLogo {
        margin-top: 10px;
    }
    #currentTime {
        margin-top: 0;
    }
    .labelText {
        font-size: 20px;
    }
}
/* These rules take effect when the browser's width */
/* is either 576px or more. */
@media screen and (min-width: 576px) { */
    /* The body's bg color will be #fca203 */
    body {
      background-color: #fca203;
    }

    h1 {
        font-size: 28px;
    }

    p {
        font-size: 14px;
        line-height: 115%;
        text-align: justify;
    }

    .logoImage {
        width: 300px;
        height: 70px;
    }

    .form-group,
    .form-control {
        font-size: 8px;
    }
    .navLogo {
        margin-top: 10px;
    }
    #currentTime {
        margin-top: 0;
    }
}
/* These rules take effect when the browser's width */
/* is either 768px or more. */
@media screen and (min-width: 768px) {
    /* The body's bg color will be #e803fc */
    body {
      background-color: #e803fc;
    }

    h1 {
        font-size: 30px;
    }

    p {
        font-size: 15px;
        line-height: 150%;
        text-align: justify;
    }

    .logoImage {
        width: 350px;
        height: 80px;
    }

    .form-group,
    .form-control {
        font-size: 12px;
    }
    .navLogo {
        margin-top: 0;
    }
    #currentTime {
        margin-top: 30px;
    }
}
/* These rules take effect when the browser's width */
/* is either 992px or more. */
@media screen and (min-width: 992px) {
    /* The body's bg color will be #03fcf2 */
    body {
      background-color: #03fcf2;
    }

    h1 {
        font-size: 35px;
    }

    p {
        font-size: 18px;
        line-height: 150%;
        text-align: justify;
    }

    .logoImage {
        width: 400px;
        height: 90px;
    }

    .form-group,
    .form-control {
        font-size: 15px;
    }
    .navLogo {
        margin-top: 0;
    }
    #currentTime {
        margin-top: 30px;
    }
}

/* Extra small (xs) devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small (sm) devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { ... } */

/* Medium (md) devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */

/* Large (lg) devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

/* Extra (xl) large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */